* {
  font-family: 'Computer Modern Sans';
}

body {
  margin: 0;
  color: #6e6e6e;
  min-height: 100%;
}

.maintainance {
  background-color: red;
  width: 100%;
  color: black;
  text-align: center;
  z-index: 100;
  position: fixed;
  top: 0;
}

header {
  padding: 30px 0;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  text-align: center;
  font-size: 36px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 2px solid #6e6e6e;
}

header #info-container {
  width: 100%;
  max-width: 910px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

header #info-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

header #info-container > div h4 {
  font-size: large;
}

header #info-container > div .number {
  font-size: xx-large;
  font-weight: bold;
}

header #info-container #date {
  font-size: small;
}

header #info-container #total-cases {
  color: #3a79a6;
}

header #info-container #active-cases {
  color: #de1414;
}

header #info-container #recovered-cases {
  color: #17960f;
}

header #info-container #death-cases {
  color: black;
}

.chart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
}

.chart-container h3 {
  font-size: 24px;
}

.chart {
  width: 60vw;
  height: 65vh;
  min-width: 800px;
  -webkit-box-shadow: #e4e4e4 5px 5px 10px;
          box-shadow: #e4e4e4 5px 5px 10px;
}

button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 0 0 15px 15px;
  padding: 5px 10px;
  background-color: white;
  -webkit-box-shadow: #e4e4e4 5px 5px 10px;
          box-shadow: #e4e4e4 5px 5px 10px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

button:hover {
  -webkit-box-shadow: #818181 5px 5px 10px;
          box-shadow: #818181 5px 5px 10px;
}

#hint {
  text-align: center;
  padding: 0 30px;
  margin-top: 300px;
}

.refs {
  padding: 0 30px;
  margin-top: 280px;
  min-height: 40vh;
}

.refs ul li {
  padding: 30px 0;
}

.refs ul li .description {
  font-size: x-large;
}

.separator {
  padding: 5px;
  width: 100%;
  margin-top: 30px;
  height: 30px;
  border-top: solid 1px #6e6e6e;
}

@media (max-width: 800px) {
  .chart {
    width: 95vw;
    height: 50vh;
    min-width: 100px;
  }
  #hint {
    font-size: small;
  }
  header #info-container > div h4 {
    font-size: small;
  }
  header #info-container > div .number {
    font-size: x-large;
  }
}

footer {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer p {
  max-width: 700px;
}

footer .media-share {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .media-share a.fa {
  text-decoration: none;
  font-size: x-large;
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
  border: none;
}

footer .media-share a.fa:hover.fa-facebook {
  color: #3b5998;
}

footer .media-share a.fa:hover.fa-twitter {
  color: #00acee;
}

footer .media-share a.fa:hover.fa-telegram {
  color: #0088cc;
}

footer .media-share a.fa:hover.fa-whatsapp {
  color: #4fce5d;
}

a {
  text-decoration: underline;
  color: #6e6e6e;
}
