* {
	font-family: 'Computer Modern Sans';
}

$font-color: #6e6e6e;

body {
	margin: 0;
	color: $font-color;
	min-height: 100%;
}

.maintainance {
	background-color: red;
	width: 100%;
	color: black;
	text-align: center;
	z-index: 100;
	position: fixed;
	top: 0;
}

header {
	padding: 30px 0;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	// transition: all 0.4s ease;
	z-index: 1;

	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		text-align: center;
		font-size: 36px;
		width: fit-content;
		border-bottom: 2px solid $font-color;
	}

	#info-container {
		width: 100%;
		max-width: 910px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-content: center;

		> div {
			display: flex;
			flex-direction: column;
			text-align: center;

			h4 {
				font-size: large;
			}

			.number {
				font-size: xx-large;
				font-weight: bold;
			}
		}

		#date {
			font-size: small;
		}

		#total-cases {
			color: #3a79a6;
		}

		#active-cases {
			color: #de1414;
		}

		#recovered-cases {
			color: #17960f;
		}

		#death-cases {
			color: black;
		}
	}
}

.chart-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px;

	h3 {
		font-size: 24px;
	}
}

.chart {
	width: 60vw;
	height: 80vh;
	min-width: 800px;
	box-shadow: #e4e4e4 5px 5px 10px;
}

button {
	width: fit-content;
	border: none;
	border-radius: 0 0 15px 15px;
	padding: 5px 10px;
	background-color: white;
	box-shadow: #e4e4e4 5px 5px 10px;
	cursor: pointer;
	transition: all ease-in-out 0.3s;
}

button:hover {
	box-shadow: #818181 5px 5px 10px;
}

#hint {
	text-align: center;
	padding: 0 30px;
	margin-top: 300px;
}

.refs {
	margin-top: 280px;
	min-height: 40vh;

	ul {
		li {
			padding: 30px 0;
			.description {
				font-size: x-large;
			}

			a {
				// margin-left: 40px;
			}
		}
	}
}

@media (max-width: 800px) {
	.chart {
		width: 95vw;
		height: 250px;
		min-width: 100px;
	}

	#hint {
		font-size: small;
	}

	header {
		#info-container {
			> div {
				// width: 100%;
				h4 {
					font-size: small;
				}

				.number {
					font-size: x-large;
				}
			}
		}
	}
}

// footer::before {
// 	content: '';
// 	display: block;
// 	height: 2px;
// 	width: 60%;
// 	background-color: $font-color;
// 	margin-bottom: 20px;
// 	max-width: 600px;
// }

footer {
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	p {
		max-width: 700px;
	}
}

a {
	text-decoration: underline;
	color: $font-color;
}
